h1  {
    font-size: small;
}
    table, thead, th, tr, td{
        border:1px solid black;
        font-size: 12px;
}

  .lh {
    line-height: normal;
  }
.td-center{
    text-align: center; 
    vertical-align: middle;
}